.container-sidebar-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 280px;
  height: 100vh;
  background-color: #078c00;
}

.sidebar-info-vendedor {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 16px;
}

.sidebar-info-vendedor img {
  width: 66px;
  height: auto;
}

.sidebar-info-vendedor h2 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.sidebar-info-vendedor p {
  font-size: 12px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.7);
}

.sidebar-nav-itens {
  display: flex;
  flex-direction: column;
}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 65px;
  width: 100%;
  padding: 12px 16px;
}

.sidebar-nav-item i {
  font-size: 40px;
  color: #fff;
}

.sidebar-nav-item p {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.sidebar-active {
  background-color: #056c00;
}

.sidebar-sair {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  gap: 5px;
  color: rgba(255, 255, 255, 0.75);
  margin-top: auto;
}

.sidebar-sair i {
  font-size: 30px;
}

.sidebar-sair p {
  font-size: 12px;
  font-weight: 800;
}
