.produto {
    font-size: 10px;
    background-color: white;
    padding: 7px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #0000001a;
    aspect-ratio: 4 / 5;
    font-weight: 800;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.produto button {
    color: white;
    background-color: #078C00;
    border-radius: 6px;
    cursor: pointer;
}

.produto .header-produto {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.produto .header-produto .status {
    font-weight: 900;
    font-size: clamp(1em, .4vw + 0.5em, 1.5em);
    color: white;
    background-color: #078C00;
    border-radius: 8px;
    height: fit-content;
    padding: 0 11px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.produto .header-produto .gerenciamento-btns {
    display: flex;
    gap: 5px;
}

.produto .header-produto .gerenciamento-btns button {
    height: 2em;
    width: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.produto .header-produto .gerenciamento-btns .btn-excluir {
    background-color: #E40000;
}

.produto img {
    height: 45%;
    aspect-ratio: 1 / 1;
    object-position: center;
    object-fit: cover;
}

.produto .detalhes-do-produto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produto .detalhes-do-produto h2 {
    font-size: clamp(1.5em, 1vw + 0.5em, 2.5em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #078C00;
}

.produto .detalhes-do-produto span {
    font-size: clamp(0.75em, 1vw + 0.5em, 1.25em);
    color: #83E000;
}

.atualizar-estoque {
    font-size: clamp(0.75em, 0.5vw + 0.5em, 1.75em);
    font-weight: 900;
    width: 100%;
    height: fit-content;
    padding: 4px 0;
}