.modal-overlay-meus-produtos {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.modal-overlay-meus-produtos.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-meus-produtos {
    background: var(--cor-background);
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-meus-produtos h2 {
    color: var(--cor-verde-principal);
    font-size: 1.5em;
    font-weight: 800;
}

.modal-meus-produtos form > div {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.modal-meus-produtos form label {
    font-size: 1.05em;
}

.modal-meus-produtos .preview {
    height: 300px;
    width: 300px;
    object-position: center;
    object-fit: cover;
}