@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --cor-primaria: rgba(255, 250, 240);
  --cor-secundaria: #ecebee;
  --cor-barra-pesquisa: #6b7280;
  --fonte-primaria: "Inter";
  --fonte-secundaria: "Poppins";
  --cor-hover: #55af00;
  --cor-primaria-fonte: #1a1a1a;
  --cor-secundaria-fonte: #4b5563;
  --cor-terciaria-fonte: #8d8d8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--fonte-primaria);
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  color: rgb(0, 0, 0);
}

/* --- AJUSTE PARA O FOOTER --- */
/* Transforma o container principal da aplicação em um flex container */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que ele ocupe no mínimo a altura toda da tela */
}

/* Faz com que a tag <main> (conteúdo principal) cresça e ocupe o espaço vago */
main {
  flex-grow: 1;
}